.active-trigger app-card {
    flex: 1;
}

app-card:focus,
app-card:focus .top-card {
    outline: 2px solid #478EFF;
}

app-card:focus:not(:focus-visible),
app-card:focus:not(:focus-visible) .top-card {
    outline: none;
}

app-card:focus-visible .top-card,
app-card:focus-visible {
    outline: 2px solid #478EFF;
}