.active-trigger app-card {
    flex: 1;
}

app-card:focus {
    border: 2px solid #478EFF;
}

app-card:focus:not(:focus-visible) {
    border: none;
}

app-card:focus-visible {
    border: 2px solid #478EFF;
}